 {% extends "base.html" %} 
 {% block content %} 
 <h1>Shuttles</h1> 
 <table class="table table-bordered table-condensed table-striped" border="2" cellpadding="8" style="width:600px"> 
 <tr> 
   <th><font size="4">Departure Location</font></th> 
   <th><font size="4">Departure Time</font></th> 
   <th><font size="4">Capacity</font></th> 
   <th><font size="4">Number Signed-Up</font></th> 
   <th><font size="4">Number Signed-In</font></th> 
   <th><font size="4">Waitlist Size</font></th> 
 </tr> 
 {% for shuttle in shuttles %} 
     <tr>
       <td>{{shuttle.departure_location.location}}</td> 
       <td><a href="/wait_list/{{shuttle.id}}">{{shuttle.time}}</a></td> 
       <td>{{shuttle.capacity}}</td> 
       <td>{{shuttle.num_signedup}}</td> 
       <td>{{shuttle.num_checkedin}}</td> 
       <td>{{shuttle.num_on_waitlist}}</td> 
     </tr> 
 {% endfor %} 
 </table> 
 {%endblock%} 

